@charset "ISO-8859-1";

.updateDiv {
	width: 85%;
	font-size: 15px;
	/*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    margin-top: -1px;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.ui-widget {
	font-size: 90%;
}

.ui-widget .ui-widget {
	font-size: 100%;
}

body {
	background-color: #ffffff;
	font-size: 10px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

td .kk {
	color: blue;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

td img {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#ss {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#dd {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	align-items: stretch;
}

#dd img {
	width: 25px;
}

#rr {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	align-items: stretch;
	margin-top: 10%;
}

#dlgDetalle #pg2 .nn{
	background: red;
	width: 10%;
	color: red;
}















































