<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link href="./resources/css/registrar.css" rel="stylesheet"
		type="text/css" />
</h:head>
<body>
	<div class="registrarDiv">

		<h:form>

			<p:growl id="growl" showDetail="true" sticky="true" />

			<p:panel header="REGISTRAR USUARIO">
				<h:panelGrid columns="3">
					<p:outputLabel for="msgApellido" value="Apellido:" class="s"/>
					<p:inputText id="msgApellido"
						value="#{registrarUsuarioBean.usuario.apellidos}" required="true" />
					<p:message for="msgApellido" display="icon" autoUpdate="true" />

					<p:outputLabel for="msgNombre" value="Nombres:" />
					<p:inputText id="msgNombre"
						value="#{registrarUsuarioBean.usuario.nombres}" required="true" />
					<p:message for="msgNombre" display="icon" autoUpdate="true" />

					<p:outputLabel for="msgsexo" value="Sexo:" />
					<p:selectOneRadio id="msgsexo"
						value="#{registrarUsuarioBean.usuario.sexo}" required="true">
						<f:selectItem itemLabel="Masculino" itemValue="M" />
						<f:selectItem itemLabel="Femenino" itemValue="F" />
					</p:selectOneRadio>
					<p:message for="msgsexo" display="icon" autoUpdate="true" />

					<p:outputLabel for="msgUsuario" value="Usuario:" />
					<p:inputText id="msgUsuario"
						value="#{registrarUsuarioBean.usuario.usuario}" required="true" />
					<p:message for="msgUsuario" display="icon" autoUpdate="true" />


					<h:outputLabel for="pwd1" value="Password 1: *" />
					<p:password id="pwd1" feedback="true"
						value="#{registrarUsuarioBean.usuario.contrasena}" match="pwd2"
						label="Password 1" required="true" />
					<p:message for="pwd1" display="icon" autoUpdate="true" />
					<h:outputLabel for="pwd2" value="Password 2: *" />
					<p:password id="pwd2"
						value="#{registrarUsuarioBean.usuario.contrasena}"
						label="Password 2" required="true" />
					<p:message for="pwd2" display="icon" autoUpdate="true" />

					<p:outputLabel for="msgDireccion" value="Direccion:" />
					<p:inputTextarea id="msgDireccion" rows="5" cols="30"
						counter="display" maxlength="200"
						counterTemplate="{0} characters remaining."
						value="#{registrarUsuarioBean.usuario.direccion}"
						autoResize="true" required="true" />
					<p:message for="msgDireccion" display="icon" autoUpdate="true" />
					<br />
					<h:outputText id="display" />
					<br />

					<p:outputLabel for="msgEstado" value="Estado:" />
					<p:inputText id="msgEstado"
						value="#{registrarUsuarioBean.usuario.estado}" required="true"
						readonly="true" />
					<p:message for="msgEstado" display="icon" autoUpdate="true" />


					<p:outputLabel for="multiple" value="Roles:" />



					<p:selectCheckboxMenu id="multiple" required="true" 
						value="#{registrarUsuarioBean.roles2}" label="Roles"
						multiple="true" filter="true" filterMatchMode="startsWith"
						panelStyle="width:250px">
						<f:selectItems value="#{registrarUsuarioBean.roles}" var="e" 
							itemLabel="#{e.tipo}" itemValue="#{e.idRol}" />
					</p:selectCheckboxMenu>
					<p:message for="multiple" display="icon" autoUpdate="true" />


					<p:outputLabel for="puFoto" value="Foto" />
					<p:fileUpload id="puFoto"
						fileUploadListener="#{registrarUsuarioBean.handleFileUpload}"
						mode="advanced" uploadLabel="Subir" cancelLabel="Cancelar"
						label="Examinar..." />
					<p:message for="puFoto" display="icon" />

				</h:panelGrid>

				<p:commandButton value="Save"
					action="#{registrarUsuarioBean.regtistrar()}" update="@form" />
			</p:panel>




		</h:form>

	</div>

</body>
</html>
