<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<!-- <link href="./resources/css/update_user.css" rel="stylesheet"
		type="text/css" /> -->

	<h:outputStylesheet library="css" name="update_user.css" />

</h:head>
<body>
	<div class="updateDiv">
		<h:form id="frm" enctype="multipart/form-data">

			<p:growl id="message" showDetail="true" />
			<!--  <p:commandButton value="Nuevo" oncomplete="PF('wdlg').show()" actionListener="#{personaBean.limpiarControles()}" update="frm:dlg" process="@this"/>-->

			<p:dataTable id="dt" var="e" value="#{updateUserBean.usuarios}"
				widgetVar="carsTable1" paginator="true" rows="5"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15">

				<f:facet name="header">

					<p:outputPanel>
						<h:outputText value="Buscar:" />
						<p:inputText id="globalFilter" onkeyup="PF('carsTable1').filter()"
							style="width:150px" placeholder="Enter keyword" />
					</p:outputPanel>
				</f:facet>



				<p:column headerText="Nombres" sortBy="#{e.nombres}">
					<p:outputLabel value="#{e.nombres}" class="kk" />
				</p:column>

				<p:column headerText="Apellidos" sortBy="#{e.apellidos}">
					<p:outputLabel value="#{e.apellidos}" class="kk" />

				</p:column>

				<p:column headerText="Usuario" sortBy="#{e.usuario}">
					<p:outputLabel value="#{e.usuario}" class="kk" />
				</p:column>

				<p:column headerText="Sexo" sortBy="#{e.sexo}">
					<p:outputLabel value="#{e.sexo}" class="kk" />
				</p:column>



				<p:column headerText="Estado" sortBy="#{e.estado}">
					<p:outputLabel value="#{e.estado}" class="kk" />
				</p:column>

				<p:column headerText="Item">
					<div id="ss">
						<h:graphicImage class="xx"
							value="/imagen/#{e.idUsuario}?t=#{now.time}" width="60"
							height="60" />
					</div>
				</p:column>

				<p:column headerText="Acciones" exportable="false">
					<div id="dd">
						<p:commandLink actionListener="#{updateUserBean.mostrarData(e)}"
							oncomplete="PF('wdlg').show()" update="frm:dlg" immediate="true"
							process="@this">
							<p:graphicImage library="images" name="update.png" />
						</p:commandLink>

						<p:commandLink actionListener="#{updateUserBean.delete(e)}"
							update="frm" immediate="true" ajax="true"
							>
							
							<p:graphicImage library="images" name="delete.png" />
						</p:commandLink>

					</div>
				</p:column>

				<p:column headerText="Detalle">
					<div id="dd">
						<p:commandLink
							actionListener="#{updateUserBean.mostrarDataDetalle(e)}"
							oncomplete="PF('wdlgDetalle').show()" update="frm:dlgDetalle"
							immediate="true" process="@this">
							<p:graphicImage library="images" name="search.png" />
						</p:commandLink>
					</div>
				</p:column>

			</p:dataTable>



			<p:dialog id="dlgDetalle" widgetVar="wdlgDetalle"
				header="#{updateUserBean.tipoDialog}" modal="true"
				closeOnEscape="true" resizable="false" draggable="true">
				<h:panelGrid id="pg2" columns="2">

					<p:outputLabel value="Nombres" />
					<p:inputText value="#{updateUserBean.usuario.nombres}" class="nn"
						readonly="true" />

					<p:outputLabel value="Apellidos" />
					<p:inputText value="#{updateUserBean.usuario.apellidos}"
						readonly="true" />

					<p:outputLabel value="Sexo" />
					<p:inputText value="#{updateUserBean.usuario.sexo}" readonly="true" />

					<p:outputLabel value="Direccion" />
					<p:inputTextarea rows="5" cols="30" maxlength="200"
						value="#{updateUserBean.usuario.direccion}" autoResize="true"
						readonly="true" />

					<p:outputLabel value="Estado" />
					<p:inputText value="#{updateUserBean.usuario.estado}"
						readonly="true" />

					<p:outputLabel value="Usuario" />
					<p:inputText value="#{updateUserBean.usuario.usuario}"
						readonly="true" />

					<div id="rr">
						<h:graphicImage
							value="/imagen/#{updateUserBean.usuario.idUsuario}?t=#{now.time}"
							width="180" height="120" />
					</div>

				</h:panelGrid>


			</p:dialog>



			<p:dialog id="dlg" widgetVar="wdlg"
				header="#{updateUserBean.tipoDialog}" modal="true"
				closeOnEscape="true" resizable="false" draggable="true">
				<h:panelGrid id="pg" columns="3">
					<p:outputLabel for="txtNombres" value="Nombres" />
					<p:inputText id="txtNombres"
						value="#{updateUserBean.usuario.nombres}" required="true" />
					<p:message for="txtNombres" display="icon" />
					<p:outputLabel for="txtApellidos" value="Apellidos" />
					<p:inputText id="txtApellidos"
						value="#{updateUserBean.usuario.apellidos}" required="true" />
					<p:message for="txtApellidos" display="icon" />
					<p:outputLabel for="txtSexo" value="SEXO" />
					<p:inputText id="txtSexo" value="#{updateUserBean.usuario.sexo}"
						required="true" />
					<p:message for="txtSexo" display="icon" />
					<p:outputLabel for="txtDireccion" value="Direccion" />
					<p:inputTextarea id="txtDireccion" rows="5" cols="30"
						maxlength="200" value="#{updateUserBean.usuario.direccion}"
						autoResize="true" required="true" />
					<p:message for="txtDireccion" display="icon" />
					<p:outputLabel for="txtEstado" value="Estado" />
					<p:inputText id="txtEstado"
						value="#{updateUserBean.usuario.estado}" />
					<p:message for="txtEstado" display="icon" />
					<p:outputLabel for="txtUsuario" value="Usuario" />
					<p:inputText id="txtUsuario"
						value="#{updateUserBean.usuario.usuario}" required="true" />
					<p:message for="txtUsuario" display="icon" />
					<p:outputLabel for="txtPass" value="Password" />
					<p:inputText id="txtPass"
						value="#{updateUserBean.usuario.contrasena}" required="false" />
					<p:message for="txtPass" display="icon" />
					<p:outputLabel for="puFoto" value="Foto" />
					<p:fileUpload id="puFoto"
						fileUploadListener="#{updateUserBean.handleFileUpload}"
						mode="advanced" uploadLabel="Subir" cancelLabel="Cancelar"
						label="Examinar..." />
					<p:message for="puFoto" display="icon" />

					<div id="rr">
						<h:graphicImage
							value="/imagen/#{updateUserBean.usuario.idUsuario}?t=#{now.time}"
							width="120" height="120" />
					</div>

				</h:panelGrid>

				<p:commandButton value="Modificar"
					actionListener="#{updateUserBean.operar('M')}" ajax="false"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg')"
					update="pg, dt"
					rendered="#{updateUserBean.tipoDialog == 'Modificar'}" />
			</p:dialog>


		</h:form>
	</div>
</body>
</html>
